<template>
  <div
    @click="cartVisible = !cartVisible"
    class="header__btn header__btn__basket col"
  />
  <div class="cart__list" v-if="cartVisible">
    <div class="cart-item" v-for="p in basket" :key="p.title">
      <img :src="p.image" class="cart-item__preview" />
      <span class="cart-item__name">{{ p.title }}</span>
      <v-switch />
      <span class="cart-item__price">{{ p.price }} ₽</span>
      <a
        href="#"
        class="cart-item__remove"
        @click.prevent="$emit('remove', p.title)"
        >Удалить</a
      >
    </div>
  </div>
</template>

<script>
import vSwitch from "@/components/v-switch.vue";
export default {
  components: {
    vSwitch,
  },
  props: {
    basket: Array,
  },
  data() {
    return {
      cartVisible: true,
    };
  },
};
</script>
<style scoped>
.header__btn__basket {
  width: 26px;
  height: 26px;
  background: url("@/assets/icons/basket.svg") bottom center no-repeat;
}
.cart {
  position: relative;
}
.cart__list {
  border-radius: 10px;
  padding: 40px 20px;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 3;
  width: 600px;
  background-color: #fff;
}

.cart-item {
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-item__name {
  font-size: 14px;
  line-height: 20px;
  color: #999;
  font-weight: 400;
}

.cart-item__preview {
  width: 48px;
  height: 48px;
  object-fit: cover;
}

.cart-item__price {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

.cart-item__remove {
  font-size: 14px;
  line-height: 20px;
  color: #999;
  font-weight: 700;
  text-decoration: none;
}

.cart-item__remove:hover {
  color: #000;
}
</style>