<template>
  <header class="header d-flex justify-content-center container">
    <div class="row header__menu row">
      <v-logo :widht="130" :height="29" :size="130" class="logo" />
      <div
        v-for="menuItem in menuItems"
        :key="menuItem.title"
        class="header__menu__item col"
      >
        <a :href="menuItem.link">
          {{ menuItem.title }}
        </a>
      </div>
      <transition>
        <v-search :searchItems="searchItems" class="col" v-if="search" />
      </transition>
      <div
        class="header__btn header__btn__search col"
        @click="search = !search"
      />
      <v-bucket :basket="bucket" @remove="removeFromCart" />
      <div class="header__btn header__btn__like col" />
    </div>
  </header>
</template>

<script>
import vLogo from "@/components/v-logo.vue";
import vSearch from "@/components/v-search.vue";
import vBucket from "@/components/v-bucket.vue";
export default {
  data() {
    return {
      search: false,
    };
  },
  props: {
    menuItems: Object,
    bucket: Array,
    searchItems: Array,
  },
  components: {
    vLogo,
    vSearch,
    vBucket,
  },
  methods: {
    removeFromCart(title) {
      this.$emit("remove", title);
    },
  },
};
</script>

<style scoped>
.header {
  padding-top: 20px;
  margin-bottom: 100px;
}
.logo {
  margin-right: 80px;
}
.header__menu {
  position: relative;
}
.header__menu__item a {
  text-transform: uppercase;
  font-size: 20px;
  text-decoration: none;
  color: #111111;
  height: 69px;
}
.header__menu__item {
  margin-right: 30px;
}
.header__btn {
  cursor: pointer;
}
.header__btn:not(:last-child) {
  margin-right: 30px;
}
.header__btn__search {
  width: 23px;
  height: 23px;
  background-size: 23px;
  background: url("@/assets/icons/lupa.svg") bottom center no-repeat;
}
.header__btn__like {
  width: 26px;
  height: 26px;
  background: url("@/assets/icons/like.svg") bottom center no-repeat;
}
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
</style>
