<template>
  <button
    class="product__view-btn product__view-btn--large"
    :class="{ 'product__view-btn--active': active }"
    @click.prevent="$emit('updateSize', 4)"
  />
</template>

<script>
export default {
  props: {
    active: Boolean,
  },
};
</script>