<template>
  <div
    class="logo"
    :style="{
      width: widht + 'px',
      height: height + 'px',
      'background-size': size + 'px',
    }"
  />
</template>
<script>
export default {
  props: {
    widht: {
      type: Number,
      default: 130,
    },
    height: {
      type: Number,
      default: 29,
    },
    size: {
      type: Number,
      default: 130,
    },
  },
};
</script>
<style scoped>
.logo {
  background-image: url("@/assets/icons/logo.svg");
}
</style>