<template>
  <button
    class="product__view-btn product__view-btn--small"
    :class="{ 'product__view-btn--active': active }"
    @click.prevent="$emit('updateSize', 3)"
  ></button>
</template>

<script>
export default {
  props: {
    active: Boolean,
  },
};
</script>